.wrapper{
  margin: 60px auto;
  text-align: center;
}
h1{
  margin-bottom: 1.25em;
}
#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
}

#paginacao-botoes{
}

.wrapper{
  background-color: #8FBC8F;
}

.body{
  max-height: 100%;
  margin-top: 0px;
}

.container{
  padding:20px;
}

.divGlobal{
  padding:20px;
  background-color: #C7DEC7;
  border-style: rounded;
  border-width: 2px 10px 4px 20px;
  border-radius: 25px;
}

.page-content{
  background: #8FBC8F;
  display: inline-block;
  width: 100%;
  max-width: 660px;
}

.btn btn-primary{
}

#conteudo{
  text-indent: 50px;
  direction: rtl;
}

.conteudo1{
  visibility: hidden;
}
.conteudo2{
  visibility: hidden;
}
